* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP',
        sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Background Style */
#particles-js {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    /* background-color: #2467c4; */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    left: 0;
}

#background {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -5;
}

/* End of Background Style */

/* NavBar Section Style */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 5;
    width: 90%;
    padding: 1rem 0;
}

nav div.logo h4 {
    font-size: 1.5rem;
    letter-spacing: 5px;
}

nav ul {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 20vh;
    width: 20vw;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(11.0px);
    -webkit-backdrop-filter: blur(11.0px);
    border-radius: 10px;
    z-index: 1;
    border-radius: 10px;
    transform: translateY(-150%);
    -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    list-style: none;
    opacity: 0;
}

nav ul.slide {
    transform: translateY(0);
    opacity: 1;
}

nav ul div#sosmedHeader {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav ul div#sosmedHeader::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
    background-color: #2b2b2b;
    width: 210px;
    height: 100px;
    border-radius: 0 10px 10px 0;
}

nav ul div#sosmedHeader a {
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(212, 212, 212);
    font-weight: 600;
    transition: all 0.5s ease;
}

nav ul div#sosmedHeader a:hover {
    color: white;
}

nav ul div#sosmedHeader p:nth-child(2) {
    font-size: 0.8rem;
    color: grey;
}

nav ul div#sosmedIcon {
    width: 80px;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav ul div#sosmedIcon div li a i {
    font-size: 1.6rem;
    color: #2b2b2b;
    transition: all 0.5s ease;
}

nav ul div#sosmedIcon div li a i:hover {
    color: #575757;
}

nav ul div#sosmedIcon div li:first-child {
    padding-bottom: 20px;
}

/* Hamburger Menu */
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    position: relative;
    z-index: 111;
}

.menu-toggle input {
    position: absolute;
    width: 50px;
    height: 38px;
    right: -6px;
    top: -8px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span.hamBurger {
    display: block;
    width: 38px;
    height: 5px;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span.hamBurger:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span.hamBurger:nth-child(4) {
    transform-origin: 0 0;
}

.menu-toggle input:checked~span.hamBurger:nth-child(2) {
    background-color: rgb(85, 85, 85);
    transform: rotate(45deg) translate(-1px, 0px);
}

.menu-toggle input:checked~span.hamBurger:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked~span.hamBurger:nth-child(4) {
    background-color: rgb(85, 85, 85);
    transform: rotate(-45deg) translate(-3px, -2px);
}

/* End of Hamburger Menu */

/* End of NavBar Section Style */

/* Header Section Style */
header {
    position: relative;
    font-size: 1.5rem;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 1; */
}

h1#text {
    margin-bottom: 10px;
    letter-spacing: 0.4rem;
}

span#greeting {
    letter-spacing: 0.2rem;
}

/* End of Header Section Style */

/* Form Section Style */
form {
    position: relative;
    min-height: 20vh;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.0px);
    -webkit-backdrop-filter: blur(14.0px);
    border-radius: 10px 0 0 10px;
}

form button {
    color: rgba(255, 255, 255, 0.80);
    background: #39A9DB;
    box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.0px);
    -webkit-backdrop-filter: blur(14.0px);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #8ACFF9;
    color: white;
}

/* End of Form Section Style */

/* Filter Style */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}

option {
    font-size: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}

select {
    color: black;
    width: 11rem;
    cursor: pointer;
    padding: 1.1rem;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(14.0px);
    -webkit-backdrop-filter: blur(14.0px);
    border-radius: 10px;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: none;
    color: #3DAEF5;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #3DAEF5;
    color: whitesmoke;
}

.sunSelect::after {
    background: none;
    color: #7FD1B9;
}

.sunSelect:hover::after {
    background: #7FD1B9;
    color: whitesmoke;
}

/* End of Filter Section Style*/

/* Todo Lists Section Style */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.todo-list {
    min-width: 30%;
    max-width: 70%;
    /* background: chartreuse; */
    list-style: none;
}

.todo {
    position: relative;
    margin: 0.5rem 5rem;
    background: #f6f5f5;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.0px);
    -webkit-backdrop-filter: blur(14.0px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.todo:first-child {
    margin-top: 2.5rem;
}

.todo:last-child {
    margin-bottom: 2.5rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: none;
    color: #ff4747;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-radius: 0 10px 10px 0;
}

.trash-btn:hover {
    background: #ff4747;
    color: #f6f5f5;
}

.complete-btn:hover {
    background: #8EB8A5;
    color: #f6f5f5;
}

.complete-btn {
    background: none;
    border-radius: 0;
    color: #8EB8A5;
}

.complete-btn-active {
    background: #8EB8A5;
    color: #f6f5f5;
}

.todo-item {
    padding: 0rem 1.5rem;
    height: auto;
    word-break: break-all;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(30deg);
    opacity: 0;
}

/* End of Todo Lists Style */


/* Responsive Breakpoint */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1367px) {

    /* Header Section Style */
    header {
        font-size: 1.5rem;
        margin: 0 auto;
        /* z-index: 1; */
    }

    h1#text {
        margin-bottom: 10px;
        letter-spacing: 0.4rem;
    }

    span#greeting {
        letter-spacing: 0.2rem;
    }

    /* End of Header Section Style */

    /* NavBar Section Style */
    nav {
        width: 90%;
        padding: 1rem 0;
    }

    nav div.logo h4 {
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

    nav ul {
        right: 0;
        top: 10px;
        height: 20vh;
        width: fit-content;
        padding: 0 20px;
        border-radius: 10px;
    }

    nav ul div#sosmedHeader::after {
        top: -20px;
        left: -20px;
        width: 210px;
        height: 100px;
        border-radius: 0 10px 10px 0;
    }

    nav ul div#sosmedHeader a {
        padding-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul div#sosmedHeader p:nth-child(2) {
        font-size: 0.8rem;
        color: grey;
    }

    nav ul div#sosmedIcon {
        width: 80px;
        margin-left: 60px;
    }

    nav ul div#sosmedIcon div li a i {
        font-size: 1.6rem;
    }

    nav ul div#sosmedIcon div li:first-child {
        padding-bottom: 20px;
    }

    /* Hamburger Menu */
    .menu-toggle {
        height: 30px;
    }

    .menu-toggle input {
        width: 50px;
        height: 38px;
        right: -6px;
        top: -8px;
    }

    .menu-toggle span.hamBurger {
        width: 38px;
        height: 5px;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* End of NavBar Section Style */

    /* Form Section Style */
    form {
        min-height: 20vh;
        width: fit-content;
        margin: 0 auto;
    }

    form input,
    form button {
        padding: 0.5rem;
        font-size: 2rem;
    }

    /* End of Form Section Style */

    /* Filter Section Style */

    option {
        font-size: 1rem;
    }

    .select {
        margin: 1rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }

    select {
        width: 11rem;
        padding: 1.1rem;
        font-size: 1rem;
        border-radius: 10px;
    }

    /* End of Filter Section Style */

    /* Todo Lists Section Style */
    .todo-container {
        margin: 0 auto;
    }

    .todo-list {
        min-width: 30%;
        max-width: 70%;
    }

    .todo {
        background: #f6f5f5;
        color: black;
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .todo:first-child {
        margin-top: 2.5rem;
    }

    .todo:last-child {
        margin-bottom: 2.5rem;
    }

    .trash-btn,
    .complete-btn {
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0 10px 10px 0;
    }

    .complete-btn {
        border-radius: 0;
    }

    .todo-item {
        padding: 0rem 1.5rem;
        height: auto;
    }

    /* End of Todo Lists Section Style */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1366px) {

    /* Header Section Style */
    header {
        font-size: 1.2rem;
        margin: 0 auto;
        /* z-index: 1; */
    }

    h1#text {
        margin-bottom: 10px;
        letter-spacing: 0.4rem;
    }

    span#greeting {
        letter-spacing: 0.2rem;
    }

    /* End of Header Section Style */

    /* NavBar Section Style */
    nav {
        width: 90%;
        padding: 1rem 0;
    }

    nav div.logo h4 {
        font-size: 1.2rem;
        letter-spacing: 5px;
    }

    nav ul {
        right: 0;
        top: 10px;
        height: 28vh;
        width: fit-content;
        padding: 0 20px;
        border-radius: 10px;
    }

    nav ul div#sosmedHeader::after {
        top: -20px;
        left: -20px;
        width: 210px;
        height: 100px;
        border-radius: 0 10px 10px 0;
    }

    nav ul div#sosmedHeader a {
        padding-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul div#sosmedHeader p:nth-child(2) {
        font-size: 0.8rem;
        color: grey;
    }

    nav ul div#sosmedIcon {
        width: 80px;
        margin-left: 60px;
    }

    nav ul div#sosmedIcon div li a i {
        font-size: 1.5rem;
    }

    nav ul div#sosmedIcon div li:first-child {
        padding-bottom: 20px;
    }

    /* Hamburger Menu */
    .menu-toggle {
        height: 30px;
    }

    .menu-toggle input {
        width: 50px;
        height: 38px;
        right: -6px;
        top: -8px;
    }

    .menu-toggle span.hamBurger {
        width: 38px;
        height: 5px;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* End of NavBar Section Style */

    /* Form Section Style */
    form {
        min-height: 20vh;
        width: fit-content;
        margin: 0 auto;
    }

    form input,
    form button {
        padding: 0.4rem;
        font-size: 1.7rem;
    }

    /* End of Form Section Style */

    /* Filter Section Style */

    option {
        font-size: 0.8rem;
    }

    .select {
        margin: 1rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }

    .select::after {
        padding: 0.9rem;
    }

    select {
        width: 10.3rem;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 10px;
    }

    /* End of Filter Section Style */

    /* Todo Lists Section Style */
    .todo-container {
        margin: 0 auto;
    }

    .todo-list {
        min-width: 30%;
        max-width: 65%;
    }

    .todo {
        background: #f6f5f5;
        color: black;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    .todo:first-child {
        margin-top: 2.5rem;
    }

    .todo:last-child {
        margin-bottom: 2.5rem;
    }

    .trash-btn,
    .complete-btn {
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0 10px 10px 0;
    }

    .complete-btn {
        border-radius: 0;
    }

    .todo-item {
        padding: 0rem 1rem;
        height: auto;
    }

    /* End of Todo Lists Section Style */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* Header Section Style */
    header {
        font-size: 1.1rem;
        margin: 0 auto;
        /* z-index: 1; */
    }

    h1#text {
        margin-bottom: 10px;
        letter-spacing: 0.4rem;
    }

    span#greeting {
        letter-spacing: 0.2rem;
    }

    /* End of Header Section Style */

    /* NavBar Section Style */
    nav {
        width: 90%;
        padding: 1rem 0;
    }

    nav div.logo h4 {
        font-size: 1.2rem;
        letter-spacing: 5px;
    }

    nav ul {
        right: 0;
        top: 10px;
        height: 22vh;
        width: fit-content;
        padding: 0 20px;
        border-radius: 10px;
    }

    nav ul div#sosmedHeader::after {
        top: -20px;
        left: -20px;
        width: 210px;
        height: 100px;
        border-radius: 0 10px 10px 0;
    }

    nav ul div#sosmedHeader a {
        padding-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul div#sosmedHeader p:nth-child(2) {
        font-size: 0.8rem;
        color: grey;
    }

    nav ul div#sosmedIcon {
        width: 80px;
        margin-left: 60px;
    }

    nav ul div#sosmedIcon div li a i {
        font-size: 1.8rem;
    }

    nav ul div#sosmedIcon div li:first-child {
        padding-bottom: 20px;
    }

    /* Hamburger Menu */
    .menu-toggle {
        height: 30px;
    }

    .menu-toggle input {
        width: 50px;
        height: 38px;
        right: -6px;
        top: -8px;
    }

    .menu-toggle span.hamBurger {
        width: 38px;
        height: 5px;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* End of NavBar Section Style */

    /* Form Section Style */
    form {
        min-height: 18vh;
        width: fit-content;
        margin: 0 auto;
    }

    form input,
    form button {
        padding: 0.4rem;
        font-size: 1.5rem;
    }

    /* End of Form Section Style */

    /* Filter Section Style */

    option {
        font-size: 0.7rem;
    }

    .select {
        margin: 1rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }

    .select::after {
        padding: 0.9rem;
    }

    select {
        width: 10.3rem;
        padding: 0.8rem;
        font-size: 1rem;
        border-radius: 10px;
    }

    /* End of Filter Section Style */

    /* Todo Lists Section Style */
    .todo-container {
        margin: 0 auto;
    }

    .todo-list {
        min-width: 30%;
        max-width: 65%;
    }

    .todo {
        background: #f6f5f5;
        color: black;
        font-size: 1rem;
        border-radius: 10px;
    }

    .todo:first-child {
        margin-top: 2.5rem;
    }

    .todo:last-child {
        margin-bottom: 2.5rem;
    }

    .trash-btn,
    .complete-btn {
        padding: 0.8rem;
        font-size: 1.2rem;
        border-radius: 0 10px 10px 0;
    }

    .complete-btn {
        border-radius: 0;
    }

    .todo-item {
        padding: 0rem 1rem;
        height: auto;
    }

    /* End of Todo Lists Section Style */

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* Header Section Style */
    header {
        font-size: 1.1rem;
        margin: 0 auto;
        /* z-index: 1; */
    }

    h1#text {
        margin-bottom: 10px;
        letter-spacing: 0.4rem;
    }

    span#greeting {
        letter-spacing: 0.2rem;
    }

    /* End of Header Section Style */

    /* NavBar Section Style */
    nav {
        width: 90%;
        padding: 1rem 0;
    }

    nav ul {
        right: 0;
        top: 10px;
        height: 26vh;
        width: fit-content;
        padding: 0 20px;
        border-radius: 10px;
    }

    nav ul div#sosmedHeader::after {
        top: -20px;
        left: -20px;
        width: 210px;
        height: 100px;
        border-radius: 0 10px 10px 0;
    }

    nav ul div#sosmedHeader a {
        padding-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul div#sosmedHeader p:nth-child(2) {
        font-size: 0.8rem;
        color: grey;
    }

    nav ul div#sosmedIcon {
        width: 80px;
        margin-left: 60px;
    }

    nav ul div#sosmedIcon div li a i {
        font-size: 1.7rem;
    }

    nav ul div#sosmedIcon div li:first-child {
        padding-bottom: 20px;
    }

    /* Hamburger Menu */
    .menu-toggle {
        height: 30px;
    }

    .menu-toggle input {
        width: 50px;
        height: 38px;
        right: -6px;
        top: -8px;
    }

    .menu-toggle span.hamBurger {
        width: 38px;
        height: 5px;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* End of NavBar Section Style */

    /* Form Section Style */
    form {
        min-height: 18vh;
        width: fit-content;
        margin: 0 auto;
    }

    form input,
    form button {
        padding: 0.4rem;
        font-size: 1.2rem;
    }

    /* End of Form Section Style */

    /* Filter Section Style */

    option {
        font-size: 0.8rem;
    }

    .select {
        margin: 1rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }

    .select::after {
        padding: 0.5rem;
    }

    select {
        width: 10.3rem;
        padding: 0.7rem;
        font-size: 0.8rem;
        border-radius: 10px;
    }

    /* End of Filter Section Style */

    /* Todo Lists Section Style */
    .todo-container {
        margin: 0 auto;
    }

    .todo-list {
        min-width: 30%;
        max-width: 65%;
    }

    .todo {
        background: #f6f5f5;
        color: black;
        font-size: 0.9rem;
        border-radius: 10px;
    }

    .todo:first-child {
        margin-top: 2.5rem;
    }

    .todo:last-child {
        margin-bottom: 2.5rem;
    }

    .trash-btn,
    .complete-btn {
        padding: 0.8rem;
        font-size: 1.2rem;
        border-radius: 0 10px 10px 0;
    }

    .complete-btn {
        border-radius: 0;
    }

    .todo-item {
        padding: 0rem 1rem;
        height: auto;
    }

    /* End of Todo Lists Section Style */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* Header Section Style */
    header {
        font-size: 0.8rem;
        margin: 0 auto;
        /* z-index: 1; */
    }

    h1#text {
        margin-bottom: 10px;
        letter-spacing: 0.4rem;
    }

    span#greeting {
        letter-spacing: 0.2rem;
    }

    /* End of Header Section Style */

    /* NavBar Section Style */
    nav {
        width: 90%;
        padding: 1rem 0;
    }

    nav div.logo h4 {
        font-size: 0.8rem;
        letter-spacing: 5px;
    }

    nav ul {
        right: 0;
        top: 10px;
        height: 50vh;
        width: fit-content;
        padding: 0 20px;
        border-radius: 10px;
    }

    nav ul div#sosmedHeader::after {
        top: -20px;
        left: -20px;
        width: 210px;
        height: 100px;
        border-radius: 0 10px 10px 0;
    }

    nav ul div#sosmedHeader a {
        padding-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul div#sosmedHeader p:nth-child(2) {
        font-size: 0.8rem;
        color: grey;
    }

    nav ul div#sosmedIcon {
        width: 80px;
        margin-left: 60px;
    }

    nav ul div#sosmedIcon div li a i {
        font-size: 1.5rem;
    }

    nav ul div#sosmedIcon div li:first-child {
        padding-bottom: 20px;
    }


    /* Hamburger Menu */
    .menu-toggle {
        height: 25px;
    }

    .menu-toggle input {
        width: 50px;
        height: 33px;
        right: -6px;
        top: -8px;
    }

    .menu-toggle span.hamBurger {
        width: 30px;
        height: 5px;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* End of NavBar Section Style */

    /* Form Section Style */
    form {
        min-height: 18vh;
        width: fit-content;
        margin: 0 auto;
    }

    form input,
    form button {
        padding: 0.4rem;
        font-size: 1rem;
    }

    /* End of Form Section Style */

    /* Filter Section Style */

    option {
        font-size: 0.7rem;
    }

    .select {
        margin: 1rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }

    .select::after {
        padding: 0.4rem;
    }

    select {
        width: 10.3rem;
        padding: 0.6rem;
        font-size: 0.8rem;
        border-radius: 10px;
    }

    /* End of Filter Section Style */

    /* Todo Lists Section Style */
    .todo-container {
        margin: 0 auto;
    }

    .todo-list {
        min-width: 30%;
        max-width: 100%;
    }

    .todo {
        background: #f6f5f5;
        color: black;
        font-size: 0.8rem;
        border-radius: 10px;
    }

    .todo:first-child {
        margin-top: 2.5rem;
    }

    .todo:last-child {
        margin-bottom: 2.5rem;
    }

    .trash-btn,
    .complete-btn {
        padding: 0.8rem;
        font-size: 1rem;
        border-radius: 0 10px 10px 0;
    }

    .complete-btn {
        border-radius: 0;
    }

    .todo-item {
        padding: 0rem 1rem;
        height: auto;
    }

    /* End of Todo Lists Section Style */

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* Header Section Style */
    header {
        font-size: 0.8rem;
        margin: 0 auto;
        /* z-index: 1; */
    }

    h1#text {
        margin-bottom: 10px;
        letter-spacing: 0.2rem;
    }

    span#greeting {
        letter-spacing: 0.1rem;
    }

    /* End of Header Section Style */

    /* NavBar Section Style */
    nav {
        width: 90%;
        padding: 1rem 0;
    }

    nav div.logo h4 {
        font-size: 0.8rem;
        letter-spacing: 5px;
    }

    nav ul {
        right: 0;
        top: 10px;
        height: 25vh;
        width: fit-content;
        padding: 0 20px;
        border-radius: 10px;
    }

    nav ul div#sosmedHeader::after {
        top: -20px;
        left: -20px;
        width: 150px;
        height: 80px;
        border-radius: 0 10px 10px 0;
    }

    nav ul div#sosmedHeader a {
        padding-bottom: 5px;
        align-self: flex-start;
        font-size: 1rem;
        font-weight: 600;
    }

    nav ul div#sosmedHeader p:nth-child(2) {
        font-size: 0.6rem;
        color: grey;
    }

    nav ul div#sosmedIcon {
        width: 80px;
        margin-left: 60px;
    }

    nav ul div#sosmedIcon div li a i {
        font-size: 1.5rem;
    }

    nav ul div#sosmedIcon div li:first-child {
        padding-bottom: 20px;
    }

    /* Hamburger Menu */
    .menu-toggle {
        height: 20px;
    }

    .menu-toggle input {
        width: 50px;
        height: 33px;
        right: -6px;
        top: -8px;
    }

    .menu-toggle span.hamBurger {
        width: 25px;
        height: 4px;
        border-radius: 3px;
        transition: all 0.5s;
    }

    /* End of NavBar Section Style */

    /* Form Section Style */
    form {
        min-height: 18vh;
        width: 90%;
        margin: 0 auto;
    }

    form input {
        width: 60%;
    }

    form input,
    form button {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    /* End of Form Section Style */

    /* Filter Section Style */

    option {
        font-size: 0.7rem;
    }

    .select {
        margin: 1rem;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
    }

    .select::after {
        padding: 0.4rem;
    }

    select {
        width: 10.3rem;
        padding: 0.7rem;
        font-size: 0.7rem;
        border-radius: 10px;
    }

    /* End of Filter Section Style */

    /* Todo Lists Section Style */
    .todo-container {
        margin: 0 auto;
    }

    .todo-list {
        min-width: 30%;
        max-width: 100%;
    }

    .todo {
        background: #f6f5f5;
        color: black;
        font-size: 0.7rem;
        border-radius: 10px;
    }

    .todo:first-child {
        margin-top: 2.5rem;
    }

    .todo:last-child {
        margin-bottom: 2.5rem;
    }

    .trash-btn,
    .complete-btn {
        padding: 1rem;
        font-size: 0.8rem;
        border-radius: 0 10px 10px 0;
    }

    .complete-btn {
        border-radius: 0;
    }

    .todo-item {
        padding: 0rem 1rem;
        height: auto;
    }

    /* End of Todo Lists Section Style */
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {} */

/* Landscape */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {} */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
/* @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {} */

/* Landscape */
/* @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {} */

/* ----------- iPhone X ----------- */

/* Portrait */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {} */

/* Landscape */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {} */